  body {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }


 .icon-column {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    justify-content: flex-start; 
    align-items: stretch; 
  }

  .label {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    padding: 5px 20px;
    margin-bottom: 12px;
    font-size: 32px;
  }

  .container-white {
    background: #ffffff;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 18px 22px;
    display: flex;
    gap: 22px;
    margin-bottom: 12px;
  }

  .container-blue {
    background: #1976d2;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 18px 22px;
    display: flex;
    gap: 22px;
    margin-bottom: 12px;
  }

  .container-orange {
    background: #ff9800;
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 18px 22px;
    display: flex;
    gap: 22px;
    margin-bottom: 12px;
  }


  .light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .light.selected {
    background: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    line-height: 1;
    border: 1px solid #000000; 
  }